@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Sans+Pro&display=swap');

:root {
	/*Colours*/
	--prim: #287eaf;
	--sec: #74b3ce;
	--bg: #fffdf4;
	--txt: #080708;
	--err: #8c271e;
	/*FONTS*/
	--font1r: 'Open Sans', sans-serif;
	--font2b: 'Source Sans Pro', sans-serif;
}

/*header-topbar*/

body {
	color: var(--txt);
	background-color: var(--bg);
	font-family: var(--font1r);
}
.topbar {
	background-color: var(--bg); 
	padding: 0.3em;
	position: fixed;
	left: 0px;
	right: 0px;
	display: grid;
	grid-template-areas:
	"a b c";
}
.menu {
	grid-area: a;
	place-self: center start;
}
.gbclogo{
	grid-area: b;
	place-self: center;
}
.search {
	grid-area: c;
	place-self: center end; 
}



/*main*/
a {
	text-decoration: none;
	color: var(--txt);
}
ul li {
	list-style: none;
}
.figure {
	padding-top: 4em;
	height: auto;
	width: auto;
}
.caption {
	background-color: rgba(40, 125, 175, 0.452);
	color: var(--txt);
	padding: 0.5rem 0.5rem;
	align-self: center;
}
.ov {
	background-color: var(--bg);
	color: var(--txt);
	padding: 1em;
	text-align: center;
	font-display: var(--font1r);
	font-weight: bold;
}
.softwares {
	background-color: var(--sec);
	padding: 2em;
	text-align: center;
}
.softwares li {
	display: inline;
	width: 100px;
}
.careers {
	text-align: center;
	padding: 2em;
	margin: 1em 1em;
}
.careers li {
	font-weight: bold;
}
.sc {
	background-color: var(--sec);
	padding: 2em;
	align-self: center;
}
.sc .alumni {
	background-color: var(--prim);
	width: 100px;
	float: left;
}
.sc figcaption {
	font-size: 0.7em;
} 
.sc blockquote {
	font-weight: bold;
	text-align: right;
	margin-left: 0.8;
	display: block;
}
/*footer*/

footer {
	background-color: var(--sec);
	margin-top: 30%;
	text-align: center;
}
.copyright li {
	display: block;
}
.copyright> li {
	font-weight: bold;
}
.copyright ul {
	visibility: hidden;
	position: relative;
}