@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Sans+Pro&display=swap');

:root {
	/*Colours*/
	--prim: #287eaf;
	--sec: #74b3ce;
	--bg: #fffdf4;
	--txt: #080708;
	--err: #8c271e;
	/*FONTS*/
	--font1r: 'Open Sans', sans-serif;
	--font2b: 'Source Sans Pro', sans-serif;
}

/*header-topbar*/

body {
	color: var(--txt);
	background-color: var(--bg);
	font-family: var(--font1r);
}
.topbar {
	background-color: var(--bg); 
	padding: 0.3em;
	position: fixed;
	left: 0px;
	right: 0px;
	display: grid;
	grid-template-areas:
	"a b c";
}
.menu {
	grid-area: a;
	place-self: center start;
}
.gbclogo{
	grid-area: b;
	place-self: center;
}
.search {
	grid-area: c;
	place-self: center end; 
}


/*main*/
a {
	text-decoration: none;
	color: var(--txt);
}
ul li {
	list-style: none;
}
.figure {
	padding-top: 4em;
	height: auto;
	width: auto;
}
.ov {
	background-color: var(--bg);
	color: var(--txt);
	padding: 1em;
	text-align: center;
	font-display: var(--font1r);
	font-weight: bold;
}
.softwares {
	background-color: var(--sec);
	padding: 2em;
	text-align: center;
}
.softwares li {
	display: inline;
	width: 100px;
}
.careers {
	text-align: center;
	padding: 4em;
	margin: 1em 1em;
}
.careers li {
	font-weight: bold;
}
.item {
	background-color: #74b3ce8a;
	padding: 0.5em;
	margin: 0.5em;
}
.theworks> div{
	padding: 0.5em;
}
.theworks> div img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
.theworks> div p {
	position: absolute;
	background-color: var(--sec);
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	width: auto;
	padding: 0.5em;
	z-index: 3;
	margin-top: 2em;
	margin-left: 1em;
}
.yrend {
	border: 4px solid;
	border-color: var(--sec);
	text-align: center;
	margin: 4em;
}
h1 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 2em;
}
.yrend img {
	width: 60%;
	height: auto;
}
.yrend blockquote {
	margin: 2em;
	padding: 2em; 
}
.ack hr {
	border-top: 5px dotted var(--txt);
	width: 100%;
}
.ack {
	text-align: center;
	margin-top: 15%;
	padding: 2em;
	font-style: italic;
	font-size: 0.7em;
}

/*footer*/

footer {
	background-color: var(--sec);
	margin-top: 5%;
	text-align: center;
	padding: 2em;
}
footer ul {
	font-weight: bold;
}
.campuses li, .about li {
	visibility: hidden;
	max-height: 0px;
}
.copyright {
	padding-top: 4em;

}



@media screen and (min-width: 840px) {

.ov {
	margin-right: 5em;
	margin-left: 5em;
	padding:2em;
}	
.sc {
	margin: 5em;
}
.theworks {
	display: grid;
	grid-template-columns: 1fr 1fr;
}





/*footer*/

footer .school {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.campuses li, .about li {
	visibility: visible;
	max-height: 20px;
}











}